:root {
    --Primary: #1e0342;
    --Secondary: #87b8e1;
    --Tertiary: #cce0ef;
    --Accent: #0e46a3;
}

* {
    font-family: sans-serif;    
}

header {
    background-image: url(../images/clouds.jpg);
    background-size: cover;
    display: flex;
    text-align: left;
    height: 300px;
    width: 100%;
}

h1 {
    color: var(--Primary);
    font-size: 40pt;
    min-width: 100vw;
    position: absolute;
    padding: 20px;
}


#search-bar {
    background-color: var(--Primary);
    width: 500px;
    height: 100px;
    border-radius: 10px;
    border: 2px inset var(--Primary);
    margin-left: 25vw;
    margin-top: 100px;
    position: absolute;
    left: 4vw;
}

#search-form {
    justify-content: center;
    padding: 7% 20%;
}

#search-field {
    width: 200px;
    height: 32px;
}

.search-btn {
    padding: 5px;
    background-color: var(--Tertiary);
    border: 2px outset var(--Tertiary);
}

.search-btn:hover {
    border: 2px inset var(--Secondary);
}

#location {
    /* width: 180px; */
    background-color: white;
    color: var(--Accent);
    font-weight: 600;
    font-size: 16pt;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 10px;
    text-align: center;
    display: flex;
    position: absolute;
    top: 220px;
    left: 35vw;
}

#search-history {
    width: 20vw;
    height: 95vh;
    color: var(--Primary);
    background-color: var(--Tertiary);
    border: 10px outset var(--Tertiary);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    padding-top: 40px;
}

#history-title {
    color: var(--Primary);
    font-size: 16pt;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
    position: absolute;
    top: 310px;
    z-index: 10;
    /* justify-self: center; */
}

#city-button {
    color: var(--Primary);
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 3px outset white;
    width: 75%;
}

#city-button:hover {
    border: 3px inset white;
}

.current-container {
    width: 75vw;
    height: fit-content;
    background-color: var(--Secondary);
    color: var(--Primary);
    border-radius: 10px;
    margin: 5px 2vw;
    padding-bottom: 10px;
    border: 10px outset var(--Secondary);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0%;
    top: 37%;
}

#current-header {
    padding: 10px;
    font-size: 16pt;
    width: 100%;
}

#current-weather-card {
    width: 90vw;
    height: 90px;
    background-color: white;
    color: var(--Accent);
    border-radius: 10px;
    margin: 5px 2vw;
    display: flex;
    justify-content: space-around;
}

#current-date,
#current-humidity,
#current-wind {
    z-index: 10;
    padding-top: 37px;
}

#current-temp {
    font-size: 24pt;
    padding-top: 28px;
}


.forecast-container {
    width: 75vw;
    height: fit-content;
    background-color: var(--Secondary);
    color: var(--Primary);
    border-radius: 10px;
    margin: 5px 2vw;
    padding-bottom: 10px;
    border: 10px outset var(--Secondary);
    text-align: center;
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    position: absolute;
    right: 0%;
    top: 59%;
}

#forecast-header {
    padding: 20px ;
    font-size: 16pt;
    width: 100%;
}

#forecast-weather-card {
    width: 90vw;
    height: 90px;
    background-color: white;
    color: var(--Accent);
    border-radius: 10px;
    margin: 5px 2vw;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}

#forecast-date,
#forecast-humidity,
#forecast-wind {
    z-index: 10;
    padding-top: 37px;
}

#forecast-temp {
    font-size: 24pt;
    padding-top: 28px;
}

@media screen and (max-width: 1030px) {
    
    #history-title {
        font-size: 12pt;
    }

}

@media screen and (max-width: 850px) {
    
    header {
        background-image: url(../images/clouds_sm.jpg);
        background-size: cover;
        height: 287px;
        width: 100vw;

    }

    h1 {
        font-size: 30pt;
    }

    #search-bar {
        width: 300px;
        left: 5vw;
    }

    #search-form {
        padding: 10% 10px;
    }

    #location {
        left: 30vw;
    }

    #search-history {
        width: 92vw;
        height: fit-content;
        padding-top: 25px;
        padding-left: 10px;
    }

    #history-title {
        top: 290px;
        left: 34vw;
        font-size: 16pt;
    }

    #city-button {
        width: auto;
        margin: 5px;
        padding: 5px;
    }

    .current-container, 
    .forecast-container {
        right: auto;
        top: auto;
        position: static;
        width: 94vw;
        margin: 10px;
    }

}


@media screen and (max-width: 450px) {
    
    header {
        height: 220px;
        text-align: center;
    }

    h1 {
        font-size: 24pt;
    }

    #search-bar {
        width: 300px;
        height: 80px;
        margin-left: 4vw;
        margin-top: 60px;
    }

    #search-form {
        padding: 7% 10px;
    }

    #location {
        left: 17vw;
        top: 160px;
        z-index: 15;
    }

    #search-history {
        width: 96vw;
        height: fit-content;
        padding-top: 25px;
        padding-left: 10px;
    }

    #history-title {
        top: 220px;
        left: 80px;
    }

    #city-button {
        margin: 5px;
        padding: 5px;
    }

    #current-weather-card {
        flex-wrap: wrap;
        height: 150px;
    }

    #current-humidity,
    #current-wind {
        padding-top: 0px;
    }

    #forecast-weather-card {
        flex-wrap: wrap;
        height: 150px;
    }

    #forecast-humidity,
    #forecast-wind {
        padding-top: 0px;
    }

}